<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apigee Scanner</title>
    <link rel="stylesheet" href="/public/css/report.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      .success-bg {
    background-color: rgb(182, 250, 182);
}

.error-bg {
    background-color: rgb(245, 172, 172);
}

.warning-bg {
    background-color: rgb(247, 218, 165);
}
    </style>
  <body>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="background-color: rgb(179, 190, 199);">
            <h1 style="padding: 0px 3rem">
              <i class="fa fa-bug" style="margin-right: 7px ;"></i> Apigee Linter Report : <%= data.apiProxyName %>
            </h1>
          </th>
        </tr>
      </thead>
      <tbody>
        <% data.formattedArray.forEach((element, index) => { %>
        <tr>
          <td style="padding: 5px 3rem; border-top: 0px">
            <div id="accordion<%= index %>">
              <div class="card">
                <div
                  class="card-header  <% if (element.messages.length > 0 && element.errorCount>0 ) { %>error-bg <% }else if (element.messages.length > 0 &&element.warningCount>0){ %> warning-bg <% } else { %> success-bg<%}%>"
                  id="heading<%= index %>"
                >
                  <div
                    style="
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      justify-content: space-between;
                    "
                    data-toggle="collapse"
                    data-target="#collapse<%= index %>"
                    aria-expanded="true"
                    aria-controls="collapse<%= index %>"
                  >
                    <h5
                      class="mb-0"
                      style="width: fit-content; font-family: Rubik, sans-serif"
                    >
                      <a
                        class="btn btn-link text-dark"
                        target="_blank"
                        href="<%=element.filePath%>"
                        ><%= element.name %>
                      </a>
                    </h5>
                    <div>
                      <span
                        class="badge badge-danger"
                        style="
                          height: auto;
                          padding: 3px;
                          margin-right: 4px;
                          font-size: medium;
                        "
                        >Error : <%= element.errorCount%></span
                      >
                      <span
                        class="badge badge-warning"
                        style="
                          height: auto;
                          padding: 3px;
                          margin-right: 4px;
                          font-size: medium;
                        "
                        > Warning : <%= element.warningCount%></span
                      >
                    </div>
                  </div>
                </div>
                <% for (let i = 0; i < element.messages.length; i++) { %> <% if
                (element.messages[i].message) { %>
                <div
                  id="collapse<%= index %>"
                  class="collapse"
                  aria-labelledby="heading<%= index %>"
                  data-parent="#accordion<%= index %>"
                >
                  <div class="card-body" style="display: flex;">
                    <div style="width: 5%;"><%= element.messages[i].line?element.messages[i].line:0 %>:<%= element.messages[i].column?element.messages[i].column:0 %></div>
                    <div style="width: 5%;"> <div  class="badge <%= element.messages[i].severity===2?"badge-danger":"badge-warning" %>"><%= element.messages[i].severity===2?"Error":"Warning" %></div></div>
                    <div style="width: 80%; display: flex;justify-content: center;align-items: center;"><%= element.messages[i].message %></div>
                    <div style="width: 10%;"> <a target="_blank" href="https://gitlab.niveussolutions.com/accelerators-lab/apigee-scanner/rules.v1.md"><%= element.messages[i].ruleId %></a></div>
                  </div>
                  <% if (i < element.messages.length - 1) { %>
                  <hr />
                
                  <% } %>
                </div>
                <% } %> <% } %>
              </div>
            </div>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
